body {
    text-align: left;
    font-family: Arial;
    margin: 0;
    overflow-x: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1 {
    color: white;
    overflow-wrap: anywhere;
}

p {
    color: white;
}

a {
    color: orange;
}

#TransitionHelper {
    position: fixed;
    height: 100%;
    width: 100vw;
    animation-fill-mode: both;
    background-color: #202020;
    z-index: 1000;
    top: 0px;
}

.AnimateTransition1 {
    animation-name: TransitionAnimation1;
    animation-duration: 0.6s;
    /* animation-fill-mode: both; */
}

.AnimateTransition2 {
    animation-name: TransitionAnimation2;
    animation-duration: 0.45s;
    /* animation-fill-mode: both; */
}

.Section {
    min-height: 200px;
    border-radius: 20px;
    text-align: left;
    color: white;
    padding: 5px 20px;
    margin-bottom: 40px;
    box-shadow: 2px 2px 5px #202020;
}

@keyframes TransitionAnimation1 {
    0% {height: 0; top: 0;}
    50% {height: 100%;}
    75% {height: 100%; top: 0;}
    100% {height: 0; top: 100%;}
}

@keyframes TransitionAnimation2 {
    0% {height: 100%; top: 0;}
    100% {height: 0; top: 100%;}
}

button {
    width: 150px;
    height: 80px;
    border-radius: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.FlexHeading {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    flex-wrap: wrap;
}

.HeadButton {
    background-color: transparent;
    border-color: transparent;
    margin-right: 0;
    padding: 0;
    font-size: 20pt;
    width: auto;
    height:min-content;
    overflow-wrap: anywhere;
    text-decoration-line: underline;
    text-decoration-style: dotted;
    text-align: right;
}

.HeadButton:hover {
    cursor: pointer;
}

.FlexLogoBar {
    justify-content: center;
    text-align: center;
}

.logo {
    width: 35px;
    height: 35px;
    margin: 15px;
}


#Click {
    position: absolute;
    text-align: left;
    margin-top: 20px;
    font-size: 10pt;
    animation-name: ClickAnimation;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: both;
    color: white;
}

@keyframes ClickAnimation {
    0% {margin-left: -300px;}
    100% {margin-left: 20px;}
}

#Here {
    position: absolute;
    text-align: center;
    width: 77px;
    margin-top: 30px;
    margin-left: 20px;
    animation-name: HereAnimation;
    animation-duration: 1s;
    animation-delay: 1.3s;
    animation-fill-mode: both;
    color: white;
}

@keyframes HereAnimation {
    0% {font-size: 12pt; margin-top: 30px;}
    100% {font-size: 24pt; margin-top: 30px;}
}

#ToGoBack {    
    position: absolute;
    text-align: left;
    margin-top: 60px;
    font-size: 10pt;
    animation-name: ToGoBackAnimation;
    animation-duration: 1s;
    animation-delay: 1.6s;
    animation-fill-mode: both;
    color: white;
}

@keyframes ToGoBackAnimation {
    0% {margin-left: -300px;}
    100% {margin-left: 20px;}
}

.Footer {
    background-color: #202020;
    min-height: 20px;
    width: 100%;
    margin-top: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 8pt;
    z-index: 100;
}

.FooterElement {
    padding: 10px 5px;
    margin: 0px 5px;
    /* background-color: aqua; */
}

.FooterLink {
    color: white;
    text-decoration-style: dotted;
    text-decoration-color: orange;
}

.GreyLink {
    color: #303030; 
    font-weight: 600; 
    text-decoration-style: dotted; 
    text-decoration-line: underline;
}

.OrangeLink {
    color: orange; 
    font-weight: 400; 
    text-decoration-style: dotted; 
    text-decoration-line: underline;
}

.WhiteLink {
    color: white; 
    font-weight: 400; 
    text-decoration-style: dotted; 
    text-decoration-line: underline;
}

.LightGreyLink {
    color: #BBBBBB; 
    font-weight: 600; 
    text-decoration-style: dotted; 
    text-decoration-line: underline;
}