body {
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
}

h1 {
    color: white;
    overflow-wrap: anywhere;
}

p {
    color: white;
}

a {
    color: orange;
}

#TransitionHelper {
    position: fixed;
    height: 0px;
    width: 100vw;
    background-color: #202020;
    z-index: 1000;
    top: 0px;
}

.AnimateTransition {
    animation-name: TransitionAnimation;
    animation-duration: 1s;
    /* animation-fill-mode: both; */
}

@keyframes TransitionAnimation {
    0% {height: 0; top: 0;}
    50% {height: 100%;}
    75% {height: 100%; top: 0;}
    100% {height: 0; top: 100%;}
}

button {
    width: 150px;
    height: 80px;
    border-radius: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.FlexHeading {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    flex-wrap: wrap;
}

.HeadButton {
    background-color: transparent;
    border-color: transparent;
    margin: 0;
    padding: 0;
    font-size: 20pt;
    width: auto;
    height:min-content;
    text-align: right;
    overflow-wrap: anywhere;
    text-decoration:dotted underline;
}

.HeadButton:hover {
    cursor: pointer;
}

.FlexLogoBar {
    justify-content: center;
    text-align: center;
}

.logo {
    width: 35px;
    height: 35px;
    margin: 15px;
}


#Click {
    position: absolute;
    text-align: left;
    margin-top: 20px;
    font-size: 10pt;
    animation-name: ClickAnimation;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: both;
    color: white;
}

@keyframes ClickAnimation {
    0% {margin-left: -300px;}
    100% {margin-left: 20px;}
}

#Here {
    position: absolute;
    text-align: left;
    margin-top: 30px;
    animation-name: HereAnimation;
    animation-duration: 1s;
    animation-delay: 1.3s;
    animation-fill-mode: both;
    color: white;
}

@keyframes HereAnimation {
    0% {margin-left: -300px;}
    100% {margin-left: 20px;}
}

#ToGoBack {    
    position: absolute;
    text-align: left;
    margin-top: 60px;
    font-size: 10pt;
    animation-name: HereAnimation;
    animation-duration: 1s;
    animation-delay: 1.6s;
    animation-fill-mode: both;
    color: white;
}

@keyframes HereAnimation {
    0% {margin-left: -300px;}
    100% {margin-left: 20px;}
}