body {
    background-color: #202020;
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

h1 {
}

p {
}

#WelcomeToWebsite {
    font-weight: 600;
    margin-left: calc(40% - 50px);
}

#Hey {
    position: relative;
    margin-left: 10%;
    margin-right: 200%;
    font-size: 30pt;
    animation-name: HeyAnimation;
    animation-duration: 0.5s;
}

@keyframes HeyAnimation {
    from {margin-left: -300px;}
    to {margin-left: 10%;}
}

#Iam {
    position: relative;
    margin-top: 80px;
    animation-name: IamAnimation;
    animation-duration: 1s;
    animation-delay: 0.2s;
    animation-fill-mode: both;
}

@keyframes IamAnimation {
    from {margin-left: -300px;}
    to {margin-left: calc(40% - 25px);}
}

#Nico {
    color: orange;
    position: relative; 
    padding-left: 40%;
    margin-top: -15px;
    font-size: 50px;
}
